<!DOCTYPE html>
<html>

<head>
    <style>
        #wrapper {
            width: 1380px;
            height: 200px;
            overflow-x: scroll;
            white-space: no-wrap;
            text-align: center;
        }

        .table {
            display: table;
        }

        .tr {
            display: table-row;
        }

        .td {
            display: table-cell;
        }

        .box {
            background-color:orange;
            color: white;
            margin: 20px;
            width: 300px;
            height: 150px;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div class="table">
            <div class="tr">
                <% for(var i=0; i < rows.length; i++) { %>

                <div class="td">
                    <div class="box">
                        <h3><%= rows[i].projectname %></h3>
                        <p><%= rows[i].Description %></p>
      <p>  <a href="<%= rows[i].pptlink %>">
          <%= rows[i].pptlinkname %></a></p>
                    </div>
                </div>
                <% } %>

            </div>
        </div>
    </div>
</body>

</html>
